/* body{
  font-family: "Rosario", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: black;
} */
/* *{
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: black;
} */
* {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    font-family:"Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    font-size: 60px;
    cursor: url('/images/image\ \(1\).png'), auto;

}
/** Text Gradient Example */ 
body{
    /* background-image: url("/images/Untitled\ design.png"); */
    /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     */
     background-image: linear-gradient(45deg, #000000 37%, #191919 49%, #333333 48%); 
      /* background-clip: text; 
      */
      /*
     -webkit-background-clip: text; 
     -webkit-text-fill-color: transparent; */
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* .container{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-color: #FDC830;
    background: -webkit-linear-gradient(to right, #F37335, #FDC830); 
    background: linear-gradient(to right, #F37335, #FDC830); 
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); 
}*/
h1:hover {
    /* font-size: 50px;
    font-weight: 400; */
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px whitesmoke, 0 0 40px whitesmoke, 0 0 60px whitesmoke;
    transition: 1s;
}

h1 {
    transition: 1s;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7px;
  }

a {
    border-style: solid;
    font-size: 40px;
    border-width: 1px;
    border-radius: 10px;
    border-style: none;
    border-radius: 5px;
    transition: 1s;
    text-decoration: none;
}

a:hover {

    color: whitesmoke;
    text-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 30px whitesmoke;
    transition: 1s;
    text-decoration: none;
}

.container {
    
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content:space-between;
    flex-grow: 1;
    background: transparent;
    padding: 5px 5px;
    align-items: center;
    padding-left: 6vh;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-height: 70vh;
    height: 10vh;
    align-items:start;
    padding-left: 5vh;
}
.appointement
{
    border-style:inset;
    border-radius: 0px 15px;
    padding-left: 2vh;
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}