* {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    font-family:"Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 60px;
    cursor: url('/images/image\ \(1\).png'), auto;
}
body{
    /* background-image: url("/images/Untitled\ design.png"); */
    background: #B79891;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #94716B, #B79891);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #94716B, #B79891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    background-color: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1:hover {
    font-size: 50px;
    font-weight: 400;
    color: black;
    /* text-shadow: 0 0 20px black, 0 0 40px black, 0 0 60px black; */
    transition: 1s;
}

h1 {
    transition: 1s;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7px;
  }

a {
    border-style: solid;
    font-size: 40px;
    border-width: 1px;
    border-radius: 10px;
    border-style: none;
    border-radius: 5px;
    transition: 1s;
    text-decoration: none;
}

a:hover {

    color: black;
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black;
    transition: 1s;
    text-decoration: none;
}

.container {
    
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content:space-between;
    flex-grow: 1;
    background: transparent;
    padding: 5px 5px;
    align-items: center;
    padding-left: 6vh;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-height: 70vh;
    height: 10vh;
    align-items:start;
    padding-left: 5vh;
}
.appointement
{
    border-style:inset;
    border-radius: 0px 15px;
    padding-left: 2vh;
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}
