*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    font-family: "Stick No Bills", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 60px;
    background-image: url("/images/Untitled\ design.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: url('/images/image\ \(1\).png'), auto;
}
#gr{
    font-size: 60px;
}
a {
    border-style: solid;
    font-size: 40px;
    border-width: 1px;
    border-radius: 10px;
    border-style: none;
    border-radius: 5px;
    transition: 1s;
    text-decoration: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7px;
  }

a:hover {
    background-color: #eb5e28;
    color: #eb5e28;
    text-shadow: 0 0 10px #eb5e28, 0 0 20px #eb5e28, 0 0 30px #eb5e28;
    transition: 1s;
    text-decoration: none;
}
#on{
    background-color: #eb5e28;
    color: #eb5e28;
    text-shadow: 0 0 10px #eb5e28, 0 0 20px #eb5e28, 0 0 30px #eb5e28;
    text-decoration: none;
}
.container {
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content:space-between;
    flex-grow: 1;
    background: transparent;
    padding: 5px 5px;
    align-items: center;
    padding-left: 6vh;
}
.body{
    margin-top: 8%;
    margin-left: 10%;
    margin-right:20%;
    margin-bottom: 20vh;
}

.body>h6{
    font-size:x-large;
    color:rgb(175, 175, 175);
}
button {
    width: 10%;
    height: auto;
    box-sizing:inherit;
    padding-bottom: 3%;
    height: 50px;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size:.5em;
    background: #eb5e28;
    font-weight: 600;
    transition: 1s;
  }
button:hover{
    background-color: white;
    color:#eb5e28;
    transition: 1s;
}
#about{
    background-color: aliceblue;
    margin-left: 12vh;
    margin-right: 12vh;
}
#abt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7px;
}
.parasize{
    font-size: 30px;
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}